.card {
    width: calc(20vw / 1.5);
    height: 20vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    perspective: 30vw;
}

@media only screen and (max-width: 600px) {
    .card {
        height: 40vw;
        width: calc(40vw / 1.5);
    }

    
}
  
.cover_image {
    width: 100%;
    height: 100%;
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}  

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: transform 0.5s;
    font-size: 4vw;
}

.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}
  

@media only screen and (min-width: 900px) {
    .card:hover .wrapper {
        transform: perspective(50vw) translateY(-5%) rotateX(15deg) translateZ(0);
        box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    }

    .card:hover .wrapper .cover_image {
        transition: all 0.5s;
        opacity: 0;
    }

    .card:hover .title {
        transform: translate3d(0%, -1.5vw, 1vw);
    }

    .card:hover .character {
        opacity: 1;
        transform: translate3d(0%, -15%, 0.3vw);
    }
}

@media only screen and (min-width: 600px){
    .title {
        font-size: 1.5vw;
    }
}