.bottomnav {
    position: fixed;
    /* display: inline-block; */
    bottom: 0;
    width: 100%;
    background-color: #B3A125;
    overflow: hidden;
    padding: 3vw 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: auto;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: space-evenly;
    align-items: center;
}

.icon_container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 2px dashed red;
}

.icon {
    width: 2rem;
    height: auto;
}