.fav_container {
  margin-top: 10rem;
}

.input {
  background-color: transparent;
  font-size: 4vw;
  width: 70%;
  margin: 0 auto;
}

.toggle_sort {
  width: 3vw;
}

.sort_button {
  margin-left: 1rem;
  background-color: #c6e2e9;
  border: none;
}